@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply scroll-smooth font-display antialiased;
}

html,
body {
  scroll-behavior: smooth;
  color-scheme: dark;
  @apply antialiased bg-slate-900 text-slate-100;
}

@import url("mdx.css");

@layer components {
  .prose .anchor {
    @apply relative visible;
    padding-right: 0.3em;
    cursor: pointer;
  }
  .anchor:hover {
    @apply invisible no-underline;
  }

  .prose .icon-link:after {
    @apply pr-2 opacity-80 text-purple-300;
    content: "#";
  }

  .prose *:hover > .icon-link:after {
    @apply transition-opacity opacity-100;
  }

  .prose *:hover > .icon-link {
    @apply visible no-underline;
  }

  .prose :where(pre):not(:where([class~="not-prose"] *)) {
    white-space: pre-wrap !important;
    overflow-wrap: normal;
    width: 100%;
    border-radius: 0;
    overflow-x: scroll;
    @apply !mt-0 rounded-b-lg border border-t-pink border-opacity-30 bg-[#0f182a];
  }

  .prose :where(a):not(:where([class~="not-prose"] *)) {
    color: unset;
    text-decoration: none;
  }

  .prose :where(pre):not(:where([class~="not-prose"] *)) {
    @apply px-3 py-1;
  }

  .prose .anchor {
    text-decoration: none;
  }

  .prose :not(pre) > code {
    @apply p-1 text-sm font-normal border rounded bg-zinc-900 border-zinc-800 text-neutral-300;
    white-space: nowrap;
  }

  .prose :not(pre) > code::after,
  .prose :not(pre) > code::before {
    content: none;
  }
  /* 
  .prose :not(pre) > code::before {
    content: none;
  } */
}
